.cardStyle{

display: flex;
align-items: center;
justify-content: center;
min-width: auto;
margin-top: 2%;
 
    
}
.dispNone {
    display: none;
}
.dispBlock {
    display: block;
}
.red{
    color: red;
}